* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #444;
  line-height: 1.9;
  background-color: #f3f3f3;
}

.table-responsive {
  overflow-x: auto;
  width: 100%;
  display: block;
  position: relative;

  &::-webkit-scrollbar {
    height: 1px;
  }

  /* Track */
  & ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 10px;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  table-layout: auto;
  white-space: nowrap !important;
  // border: 1px solid #ddd;
  //border-radius: 10px;
  font-size: 1.4rem;
  //overflow-x: scroll;

  .club {
    display: flex;
    align-items: center;
    //justify-content: center;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-right: 20px;
    }

    .title {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

th,
td {
  text-align: left;
  padding: 16px;
  position: relative;
}

tr:nth-child(even) {
  //background-color: #fbbbbb;
}
tr {
  line-height: 1.4rem;
  border-bottom: 1px solid #ddd;
}

thead {
  background-color: #ddd;
  th {
    &:not(:last-child) {
      &:after {
        content: "|";
        //height: 40%;
        //width: 1px;
        color: rgb(167, 167, 167);
        top: 30%;
        position: absolute;
        // background: #222;
        right: 0px;
      }
    }
  }
}
.club__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  //margin: 0 1px;
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    &--l {
      background-color: red;
      color: white;
    }
    &--w {
      background-color: green;
      color: white;
    }
    &--d {
      background-color: grey;
      color: white;
    }
    .stats {
      font-size: 1.6rem;
      font-height: 1.5rem;
      font-weight: 600;
      text-transform: capitalize;
    }
  }
}

//modal

.modal {
  position: fixed;
  min-height: 50rem;
  min-width: 90rem;
  padding: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  // padding: 5rem;
  z-index: 1000;
  &__header {
    height: 4rem;
    padding: 0.7rem 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(162, 162, 162);
    button {
      background-color: rgb(235, 93, 93);
      cursor: pointer;
      outline: none;
      color: #fff;
      display: block;
      border: none;
      border-radius: 5px;
      padding: 0 1rem;
    }
  }
}

//overlay for modal
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.7);
}

//club details
.club_details {
  padding: 0 5rem;
  display: flex;
  justify-content: center;

  .left {
    display: flex;
    flex-direction: column;
    flex: 50%;
    align-items: center;
    justify-content: center;
    img {
      width: 26rem;
      height: 25rem;
    }
    .club_name {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  .right {
    flex: 50%;
    .card {
      margin-top: 4rem;
      border: 1px solid black;
      height: 350px;
      border-radius: 5px;
      padding: 10px;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      padding-left: 7rem;
      .card_element {
        display: flex;
        flex-direction: column;

        .card_title {
          font-weight: 600;
          text-transform: capitalize;
          font-size: 2rem;
        }
        .card_value {
          font-weight: 600;
          text-transform: capitalize;
          font-size: 4rem;
          padding: 5px;
        }
      }
    }
  }
}
